# Dependencies
node_modules/

# Builds
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tooling / Hosts
.netlify/
.vercel/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Tests/coverage
coverage/
